## Ignore Visual Studio temporary files, build results, and crash dumps
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leasePublic/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ex]portedObj/

# Visual Studio 2015/2017/2019/2022 cache directory
.vs/

# JetBrains Rider plugin & preferences
.idea/
*.sln.iml

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# .NET Core web cache / user secrets
.microsoft.dotnet.secret.manager.subdir/
secrets.json

# Local App Data / Logs
*.log
predictions_cache.json